html,
body {
  height: 100%;
  background-color: white;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: row;
  }

#map {
    height: 100%;
    width: 50%;
}

#form {
    height: 100%;
    width: 50%;
    padding-left: 20px;
    overflow: auto;
}
  
  h2 {
    margin: 6px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  h3 {
    margin: 6px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .startForm {
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .finishForm {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .locationsForm {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  

  #alert {
    color: red;
  }

  .start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .finish {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .locations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px
  }